@model Veranstaltungen
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Veranstaltung Löschen</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>

        </div>

        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
               
                <div class="mb-3 row p-1">
                    <label class="p-0">Name Veranstaltung</label>
                    <input asp-for="NamederVeranstaltung" type="text" disabled class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Adresse</label>
                    <input asp-for="Adresse" type="text" disabled class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Nr.Gäste</label>
                    <input asp-for="Nrgäste" type="text" disabled class="form-control" />

                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0"> Nr.Mitwirkende</label>
                    <input asp-for="NrMit" type="text" disabled class="form-control" />

                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Budget € </label>
                    <input asp-for="Budget" type="text" disabled class="form-control" />

                   

                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Datum & Uhrzeit</label>
                    <input asp-for="Datum" type="text" disabled class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Bemerkung</label>
                    <input asp-for="Bemerkung" type="text" disabled class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label class="p-0">Essen Auswählen</label>

                    <input asp-for="Essen" type="text" disabled class="form-control" />

                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Bild</label>
                    <input asp-for="Bild" type="text" disabled class="form-control" />
                </div>




                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Löschen</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="O_Veranstaltung" asp-action="Index" class="btn btn-warning border  form-control">
                            Zurück
                        </a>
                    </div>



                </div>
            </div>
        </form>

    </div>
</div>

