@model List< Veranstaltungen>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Veranstaltungen Liste</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="A_Veranstaltung" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Neue Veranstaltung erstellen
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped start-0" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Adresse</th>
                    <th>Gäste</th>
                    <th>Mitwirkenden</th>
                    <th>Budget €</th>
                    <th>Aufgaben</th>
                    <th>Essen</th>
                    <th>Bild</th>
                    <th></th>
                </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/veranstaltunga123.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.11.3/i18n/German.json"></script>
}



