@model GastVM

@{

    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "Keine", Value = "Keine" });
    l1.Add(new SelectListItem() { Text = "Fleisch", Value = "Fleisch" });
    l1.Add(new SelectListItem() { Text = "Vegan", Value = "Vegan" });
    l1.Add(new SelectListItem() { Text = "Vegetarian", Value = "Vegetarian" });

}
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Gast.Id != 0 ? "Gast bearbeiten" : "Neuen Gast hinzufügen") </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Gast.Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Gast.Name" class="form-control border-0 shadow" />
                            <label asp-for="Gast.Name" class="ms-2"></label>
                            <span asp-validation-for="Gast.Name" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Gast.Email" class="form-control border-0 shadow" />
                            <label asp-for="Gast.Email" class="ms-2"></label>
                            <span asp-validation-for="Gast.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Gast.Essen" asp-items="@l1" class="form-select border-0 shadow">
                                <label asp-for="Gast.Essen" class="ms-2">Essen</label>
                                <option disabled selected>--Essen Auswähl--</option>
                            </select>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Gast.Allergien" class="form-control border-0 shadow" />
                            <label asp-for="Gast.Allergien" class="ms-2"></label>
                            <span asp-validation-for="Gast.Allergien" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Gast.VeranstaltungId" asp-items="@Model.VeranstaltungList" class="form-select border-0 shadow">
                                <option disabled selected>--Veranstaltung--</option>
                            </select>
                            <label asp-for="Gast.VeranstaltungId" class="ms-2">Veranstaltung</label>
                            <span asp-validation-for="Gast.VeranstaltungId" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Gast.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Aktualisieren</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Einfügen</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="OGast" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Zurück
                                </a>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </form>
    </div>
</div>